# URL NestJS API (server-side)
API_URL=http://localhost:4000/api

# URL NestJS API (client-side)
NEXT_PUBLIC_API_URL=http://localhost:4000/api

# NextAuth
AUTH_SECRET=8ac33e220140701ff3f83348fe24454a683a6962a2e3057944b2591ad82308ef
NEXTAUTH_URL=http://localhost:3000

# Google OAuth - Điền vào đây
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret

# URL public của site (dùng cho SEO, OG, sitemap, canonical)
NEXT_PUBLIC_SERVER_URL=https://diendanvothuat.vn

# TinyMCE (optional)
NEXT_PUBLIC_TINY_MCE_API_KEY=wi5mqs76lclrf019z7sa95g30s1586hjv3mwnxsee5m7cnmi
